# vim
*.sw[op]
*~
# node
.env
node_modules
package-lock.json
yarn.lock
# python
*.egg*
*.py[co]
.cache
.coverage
.ipynb_checkpoints
.pytest_cache
__pycache__
build/
server/dist/
# sqlite
*.sqlite
*.sqlite-journal
# transient
*.log
*.tmp
*_data
.DS_Store
